.leaflet-container {
  position: absolute;
  top: 4vh;
  width: 50vw;
  left: 5%;
  height: 90vh;
  border-radius: 50px;
  border-style: groove;
}
body {
  background-color: #242b4b;
}
.title {
  position: absolute;
  right: 12.5%;
  top: 5vh;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  color: #fab48cdc;
}
